@import "normolize.css";
@import "nulling-styles.css";
@import "fonts.css";
.promo__title, .block-title {
  font-family: "muller-black", sans-serif;
  font-size: 75px;
  line-height: 109%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .promo__title, .block-title {
    font-size: 36px;
    line-height: 133%;
  }
}

body {
  font-family: "muller-regular", sans-serif;
  color: #fff;
  background: #191b20;
}

.lock-body {
  overflow: hidden;
}

.hide-layer {
  position: relative;
  z-index: -1;
}

.center {
  max-width: 2020px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .center {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .center {
    padding: 0 18px;
  }
}

.decor-background {
  position: absolute;
  content: "";
  width: 26.2%;
  border-right: 1px solid #313339;
  border-left: 1px solid #313339;
  min-height: 100%;
  bottom: 0;
  left: 10.65%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 101, 113, 0)), to(rgba(96, 101, 113, 0.05)));
  background: linear-gradient(180deg, rgba(96, 101, 113, 0) 0%, rgba(96, 101, 113, 0.05) 100%);
  z-index: 1;
}

.btn {
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: "muller-bold", sans-serif;
  font-size: 13px;
  line-height: 100%;
  color: #252121;
  background: linear-gradient(141deg, #ea422a 0%, #f69020 47.92%, #ffc619 100%);
  padding: 30px 42px 27px;
  border-radius: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
@media (hover: hover) {
  .btn:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
}
.btn:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
@media (max-width: 768px) {
  .btn {
    font-size: 11px;
    padding: 20.5px 30px 18.5px;
  }
}

.logo__link {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: inline-block;
  height: inherit;
}
@media (hover: hover) {
  .logo__link:hover {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
}
.logo__link:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.logo__image {
  height: inherit;
}

.nav {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
.nav__link {
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
@media (hover: hover) {
  .nav__link:hover {
    color: #f69020;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .nav__link:hover .nav__link-image-wrapper {
    background: #f69020;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}
.nav__link:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
@media (max-width: 1100px) {
  .nav__link--desc {
    display: none;
  }
}
.nav__link--map {
  position: relative;
  left: -62px;
}
@media (max-width: 1500px) {
  .nav__link--map {
    left: unset;
  }
}
.nav__link--footer {
  position: relative;
  top: 6px;
}
@media (max-width: 1500px) {
  .nav__link--footer {
    top: unset;
  }
}
.nav__link-image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .nav__link-image-wrapper--mobile {
    width: 51px;
    height: 51px;
  }
}
.nav__link-image {
  fill: #606571;
}
.nav__link-image--tel {
  width: 26.15px;
  height: 26.67px;
}
.nav__link-image--map {
  width: 21.04px;
  height: 27.56px;
}
.nav__link-text {
  position: relative;
  top: 3px;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
@media (max-width: 1280px) {
  .nav__link-text {
    font-size: 14px;
    top: unset;
  }
}
@media (max-width: 768px) {
  .nav__link-text {
    font-size: 14px;
    top: 3px;
  }
}
.nav__link-text--color {
  text-transform: none;
  color: #f69020;
}
@media (max-width: 900px) {
  .nav__link-text--desc {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav__link-text--display_color {
    color: #f69020;
  }
  .nav__link-text--display_color > span {
    display: none;
  }
}
.nav__buttons-wrapper {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .nav__buttons-wrapper--desc {
    display: none;
  }
}
.nav__buttons-wrapper--mobile {
  display: none;
  margin: 19px 0 0;
}
@media (max-width: 768px) {
  .nav__buttons-wrapper--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 19px;
  }
  .nav__buttons-wrapper--mobile-footer {
    margin: 33px 0 0;
    gap: 16px;
  }
}
.nav__btn {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
  font-family: "muller-bold", sans-serif;
  font-size: 13px;
  line-height: 100%;
  color: #fff;
  background: transparent;
  padding: 26px 56px 21px;
  border-radius: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  outline: 1px solid #393c43;
}
@media (max-width: 768px) {
  .nav__btn {
    padding: 20px 57px 16px;
  }
}
@media (hover: hover) {
  .nav__btn:hover {
    color: #000;
    background: #f69020;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.nav__btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.nav__btn--bg-color {
  background: #fff;
  color: #000;
  padding: 26px 39px 21px;
}
@media (max-width: 768px) {
  .nav__btn--bg-color {
    padding: 22px 39px 16px;
  }
}
@media (hover: hover) {
  .nav__btn--bg-color:hover {
    color: #fff;
  }
}
.nav__btn--border-color {
  border: 1px solid #f69020;
}
@media (max-width: 1900px) {
  .nav__btn--border-color {
    max-width: 232px;
  }
}
.nav__btn--footer {
  position: relative;
  top: 5px;
  padding: 26px 33px 21px;
}
@media (max-width: 1500px) {
  .nav__btn--footer {
    top: unset;
  }
}

#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger {
  width: 21.39px;
  min-height: 21.38px;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-layer, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-layer::before {
  width: 13.07px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 3.5px;
  left: -1.7px;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-layer--bottom {
  top: 11.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger .mobile-menu__burger-layer::before {
  top: 0;
  right: -16.07px;
  left: unset;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu__burger {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  display: block;
  width: 21.39px;
  min-height: 21.38px;
  cursor: pointer;
  z-index: 3;
}
.mobile-menu__burger-layer, .mobile-menu__burger-layer::before {
  display: block;
  position: relative;
  top: 6px;
  width: 14.5px;
  border-radius: 3px 0 0 3px;
  height: 3px;
  background-color: #f69020;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.mobile-menu__burger-layer::before {
  content: "";
  position: absolute;
  top: 0;
  right: -14.5px;
  border-radius: 0 3px 3px 0;
}
.mobile-menu__burger-layer--bottom {
  top: 9px;
}
.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.mobile-menu__box {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 422px;
  padding: 99px 0 39px 19px;
  background-color: #282b32;
  z-index: 1;
}
.mobile-menu__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 13px;
}

.header {
  min-height: 139px;
  background: #191b20;
  border-bottom: 1px dashed #313339;
}
@media (max-width: 1040px) {
  .header {
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  .header {
    border-bottom: none;
    min-height: 79px;
  }
}
.header .center {
  padding: 40px 50px 28px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background: linear-gradient(90deg, transparent 0%, transparent 37.2%, #313339 1px, transparent 37.35%, transparent 100%);
}
@media (max-width: 1875px) {
  .header .center {
    background: transparent;
  }
}
@media (max-width: 1400px) {
  .header .center {
    padding: 40px 22px 28px 12px;
  }
}
@media (max-width: 1280px) {
  .header .center {
    padding: 28px 22px 28px 12px;
  }
}
@media (max-width: 768px) {
  .header .center {
    padding: 18px 29px 9px 12px;
  }
}
.header__logo {
  width: 293px;
  height: 67px;
  z-index: 3;
}
@media (max-width: 1280px) {
  .header__logo {
    width: 161px;
    height: 37px;
  }
}
.header__nav {
  max-width: 1119px;
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1100px) {
  .header__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .header__nav {
    min-height: 51px;
  }
}

.promo .center {
  position: relative;
  min-height: 731px;
  padding: 103px 51px 78px 51px;
}
@media (max-width: 1400px) {
  .promo .center {
    padding: 103px 20px 78px 20px;
  }
}
@media (max-width: 1040px) {
  .promo .center {
    padding: 43px 20px 32px 20px;
  }
}
@media (max-width: 1040px) {
  .promo .center {
    padding: 43px 20px 32px 100px;
  }
}
@media (max-width: 768px) {
  .promo .center {
    padding: 44px 20px 32px 20px;
  }
}
.promo .center::before {
  position: absolute;
  content: "";
  width: 26.2%;
  border-right: 1px solid #313339;
  border-left: 1px solid #313339;
  min-height: 733px;
  bottom: 0;
  left: 10.65%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 101, 113, 0)), to(rgba(96, 101, 113, 0.05)));
  background: linear-gradient(180deg, rgba(96, 101, 113, 0) 0%, rgba(96, 101, 113, 0.05) 100%);
  z-index: 1;
}
@media (max-width: 1450px) {
  .promo .center::before {
    min-height: 795px;
  }
}
@media (max-width: 1040px) {
  .promo .center::before {
    width: 11.6%;
    border-right: 1px solid #313339;
    min-height: 100%;
    top: 0px;
    left: 0;
    background: transparent;
  }
}
@media (max-width: 768px) {
  .promo .center::before {
    width: 18.8%;
  }
}
@media (max-width: 560px) {
  .promo .center::after {
    position: absolute;
    content: "";
    width: 4.4%;
    border-left: 1px solid #313339;
    min-height: 32%;
    top: 0;
    right: 11.7%;
    background: transparent;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .promo .center {
    min-height: 677px;
  }
}
.promo__description {
  position: relative;
  z-index: 1;
  max-width: 895px;
  width: 100%;
  min-height: 522px;
}
@media (max-width: 1040px) {
  .promo__description {
    max-width: 421px;
  }
}
@media (max-width: 768px) {
  .promo__description {
    max-width: 343px;
  }
}
.promo__subtitle {
  font-family: "muller-regular", sans-serif;
  font-size: 41px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 33px;
}
@media (max-width: 1040px) {
  .promo__subtitle {
    font-size: 18px;
    line-height: 128%;
  }
}
@media (max-width: 768px) {
  .promo__subtitle {
    margin: 0 0 11px;
  }
}
.promo__title {
  line-height: 125%;
  margin: 0 0 37px;
}
.promo__title br {
  display: none;
}
@media (max-width: 768px) {
  .promo__title br {
    display: block;
  }
}
@media (max-width: 1040px) {
  .promo__title {
    font-size: 36px;
    line-height: 133%;
  }
}
@media (max-width: 768px) {
  .promo__title {
    margin: 0 0 6px;
    line-height: 135%;
  }
}
.promo__title-badge {
  margin: 0 0 0 3px;
  position: relative;
  top: -24px;
  padding: 7px 18px 6px 13px;
  font-family: "muller-regular", sans-serif;
  font-size: 15px;
  letter-spacing: 0.03em;
  text-transform: none;
  border-radius: 60px;
  background: #343a3e;
}
@media (max-width: 1040px) {
  .promo__title-badge {
    top: -9px;
  }
}
@media (max-width: 768px) {
  .promo__title-badge {
    margin: 0;
  }
}
.promo__advantages-list {
  margin: 0 0 71px;
  padding: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 41px;
  min-height: 50px;
}
@media (max-width: 1450px) {
  .promo__advantages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 18px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1040px) {
  .promo__advantages-list {
    margin: 0 0 160px;
  }
}
@media (max-width: 768px) {
  .promo__advantages-list {
    margin: 0 0 124px;
  }
}
.promo__advantages-item {
  position: relative;
  width: 100%;
  padding: 0 0 0 59px;
}
.promo__advantages-item:nth-child(1) {
  max-width: 241px;
}
.promo__advantages-item:nth-child(2) {
  max-width: 184px;
}
.promo__advantages-item:nth-child(3) {
  max-width: 204px;
}
@media (max-width: 850px) {
  .promo__advantages-item:nth-child(3) {
    max-width: 147px;
  }
}
@media (max-width: 768px) {
  .promo__advantages-item:nth-child(3) {
    max-width: 204px;
  }
}
@media (max-width: 420px) {
  .promo__advantages-item:nth-child(3) {
    max-width: 147px;
  }
}
.promo__advantages-item::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  top: -2px;
  left: 0;
  background: url(../../../images/icons/promo-advantages-icon.svg) no-repeat center/cover;
}
@media (max-width: 768px) {
  .promo__advantages-item::before {
    width: 36.35px;
    height: 36.35px;
    left: -3px;
  }
}
@media (max-width: 768px) {
  .promo__advantages-item {
    padding: 0 0 0 43.42px;
  }
}
.promo__advantages-text {
  font-family: "muller-regular", sans-serif;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
}
@media (max-width: 768px) {
  .promo__advantages-text {
    font-size: 13px;
    line-height: 130%;
  }
}
.promo__description-buttons {
  max-width: 734px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1480px) {
  .promo__description-buttons {
    max-width: 545px;
  }
}
@media (max-width: 1480px) {
  .promo__description-button {
    font-size: 11px;
    padding: 20.5px 30px 18.5px;
  }
}
.promo__description-link {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  top: -6px;
  font-family: "muller-bold", sans-serif;
  line-height: 100%;
  font-size: 9px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #606571;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (max-width: 1280px) {
  .promo__description-link {
    display: none;
  }
}
@media (hover: hover) {
  .promo__description-link:hover {
    color: #f69020;
  }
}
.promo__description-link:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.promo__image-wrapper {
  position: absolute;
  right: 20px;
  bottom: 0;
  max-width: 1960px;
  width: 100%;
  height: 869px;
  z-index: 0;
}
.promo__image-wrapper::before {
  content: "";
  position: absolute;
  width: 269px;
  height: 273px;
  background: url(../../images/promo/around-the-clock.png) no-repeat center -32px/138%;
  top: 546px;
  right: 708px;
  z-index: 1;
}
@media (max-width: 1815px) {
  .promo__image-wrapper::before {
    top: 538px;
    right: 50px;
  }
}
@media (max-width: 1560px) {
  .promo__image-wrapper::before {
    right: 388px;
  }
}
@media (max-width: 1040px) {
  .promo__image-wrapper::before {
    right: 320px;
    top: 459px;
  }
}
@media (max-width: 768px) {
  .promo__image-wrapper::before {
    right: 180px;
    top: 399px;
    width: 246px;
    bottom: 34px;
    background: url(../../images/promo/around-the-clock-360.png) no-repeat center/cover;
  }
}
@media (max-width: 560px) {
  .promo__image-wrapper::before {
    height: 248px;
    right: 57px;
    top: unset;
  }
}
@media (max-width: 1560px) {
  .promo__image-wrapper {
    right: 0;
  }
}
@media (max-width: 768px) {
  .promo__image-wrapper {
    height: 731px;
  }
}
.promo__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1560px) {
  .promo__image {
    -o-object-position: right -300px top 0;
       object-position: right -300px top 0;
  }
}
@media (max-width: 1040px) {
  .promo__image {
    -o-object-position: right -208px bottom 0;
       object-position: right -208px bottom 0;
  }
}
@media (max-width: 560px) {
  .promo__image {
    position: absolute;
    height: 76%;
    bottom: 0;
  }
}
.promo__link {
  font-family: "muller-bold", sans-serif;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f69020;
}
.promo__link-wrapper {
  position: absolute;
  bottom: 131px;
  right: 60px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 239px;
  width: 100%;
  min-height: 83px;
}
@media (max-width: 1815px) {
  .promo__link-wrapper {
    bottom: unset;
    top: 180px;
  }
}
@media (max-width: 1560px) {
  .promo__link-wrapper {
    right: -40px;
    top: unset;
    bottom: 131px;
  }
}
@media (max-width: 1040px) {
  .promo__link-wrapper {
    display: none;
  }
}
.promo__link-image {
  fill: #2c383f;
  width: 29px;
  height: 29px;
}
.promo__link-image-wrapper {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 83px;
  height: 83px;
  border-radius: 100%;
  background: linear-gradient(217deg, #ffc619 0%, #f69020 46.35%, #ec5128 100%);
}

.possibilities {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px dashed #313339;
}
@media (max-width: 1040px) {
  .possibilities {
    border-bottom: none;
  }
}
.possibilities__list {
  min-height: 130px;
  display: grid;
  grid-template: auto/repeat(4, 1fr);
}
@media (max-width: 1280px) {
  .possibilities__list {
    min-height: 103px;
  }
}
@media (max-width: 850px) {
  .possibilities__list {
    grid-template: auto/repeat(2, 1fr);
  }
}
.possibilities__item {
  width: 100%;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 94px;
  background-color: #282b32;
}
@media (max-width: 1550px) {
  .possibilities__item {
    gap: 50px;
  }
}
@media (max-width: 1170px) {
  .possibilities__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 5.5px;
    padding: 0 0 0 62px;
  }
}
@media (max-width: 1170px) {
  .possibilities__item {
    padding: 0 22px;
  }
}
@media (max-width: 850px) {
  .possibilities__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 50px;
  }
}
@media (max-width: 550px) {
  .possibilities__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5.5px;
    padding: 3px 5px 0 25px;
  }
}
@media (max-width: 850px) {
  .possibilities__item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
.possibilities__item:nth-child(even) {
  background-color: #202124;
}
.possibilities__item:nth-child(1) .possibilities__image-wrapper {
  width: 54.74px;
  height: 67.31px;
}
@media (max-width: 1320px) {
  .possibilities__item:nth-child(1) .possibilities__image-wrapper {
    width: 29.71px;
    height: 36.54px;
  }
}
.possibilities__item:nth-child(2) .possibilities__image-wrapper {
  width: 61.63px;
  height: 61.62px;
}
@media (max-width: 1320px) {
  .possibilities__item:nth-child(2) .possibilities__image-wrapper {
    width: 33.12px;
    height: 33.11px;
  }
}
.possibilities__item:nth-child(3) .possibilities__image-wrapper {
  width: 67.92px;
  height: 63.58px;
}
@media (max-width: 1320px) {
  .possibilities__item:nth-child(3) .possibilities__image-wrapper {
    width: 35.96px;
    height: 34.6px;
  }
}
.possibilities__item:nth-child(4) .possibilities__image-wrapper {
  width: 61.2px;
  height: 59.92px;
}
@media (max-width: 1320px) {
  .possibilities__item:nth-child(4) .possibilities__image-wrapper {
    width: 33.3px;
    height: 31.73px;
  }
}
.possibilities__image {
  width: inherit;
  height: inherit;
  fill: #f69020;
}
.possibilities__image-wrapper {
  position: relative;
}
.possibilities__image-wrapper::after {
  position: absolute;
  content: "";
  width: 34px;
  height: 1px;
  background: rgba(255, 198, 25, 0.3);
  right: -53px;
  top: 50%;
}
@media (max-width: 1550px) {
  .possibilities__image-wrapper::after {
    width: 18px;
    right: -30px;
  }
}
.possibilities__text {
  max-width: 192px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
}
@media (max-width: 1280px) {
  .possibilities__text {
    font-size: 14px;
    line-height: 136%;
  }
}

.advantages {
  position: relative;
}
.advantages .center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 98px 30px 110px 50px;
}
@media (max-width: 1750px) {
  .advantages .center {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .advantages .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 98px 30px 120px 50px;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .advantages .center {
    padding: 61px 18px 34px 17px;
  }
}
@media (max-width: 500px) {
  .advantages .center {
    padding: 61px 18px 54px 17px;
    gap: 18px;
  }
}
.advantages .center::before, .advantages .center::after {
  position: absolute;
  content: "";
  width: 10.68%;
  border-right: 1px solid #313339;
  min-height: 100%;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: -1;
}
@media (max-width: 768px) {
  .advantages .center::before, .advantages .center::after {
    width: 19.08%;
  }
}
.advantages .center::after {
  left: unset;
  right: 0;
  border-left: 1px solid #313339;
  border-right: none;
}
@media (max-width: 768px) {
  .advantages .center::after {
    width: 16.58%;
  }
}
.advantages .center .decor-background {
  left: 36.95%;
  z-index: -1;
}
@media (max-width: 1500px) {
  .advantages .center .decor-background {
    display: none;
  }
}
.advantages__right-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  max-width: 450px;
  width: 100%;
  min-height: 799px;
}
@media (max-width: 1280px) {
  .advantages__right-wrp {
    max-width: 100%;
    min-height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.advantages__title {
  margin: 0 0 41px;
}
@media (max-width: 768px) {
  .advantages__title {
    margin: 0 0 26px;
    letter-spacing: 0;
  }
}
.advantages__subtitle {
  margin: 0 0 60px;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .advantages__subtitle {
    margin: 0 0 44px;
    font-size: 18px;
  }
}
.advantages__list {
  max-width: 1358px;
  width: 100%;
  min-height: 626px;
  display: grid;
  grid-template: repeat(2, minmax(auto, 299px))/repeat(3, minmax(auto, 433px));
  gap: 29px;
}
@media (max-width: 1850px) {
  .advantages__list {
    grid-template: repeat(2, 1fr)/repeat(3, minmax(auto, 433px));
  }
}
@media (max-width: 1750px) {
  .advantages__list {
    grid-template: repeat(2, 1fr)/repeat(2, minmax(auto, 560px));
  }
}
@media (max-width: 1280px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 11px;
    height: 500px;
  }
}
@media (max-width: 810px) {
  .advantages__list {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .advantages__list {
    height: 920px;
  }
}
@media (max-width: 650px) {
  .advantages__list {
    height: 620px;
  }
}
@media (max-width: 500px) {
  .advantages__list {
    height: 677px;
  }
}
@media (max-width: 450px) {
  .advantages__list {
    height: 722px;
  }
}
.advantages__list-item {
  padding: 51px 31px 51px 50px;
  background: #202124;
}
.advantages__list-item:nth-child(odd) {
  background: #282b32;
}
@media (max-width: 1750px) {
  .advantages__list-item:nth-child(odd) {
    background: #202124;
  }
}
@media (max-width: 1750px) {
  .advantages__list-item {
    padding: 30px 50px;
  }
  .advantages__list-item:nth-child(4n+1), .advantages__list-item:nth-child(4n+4) {
    background: #282b32;
  }
}
@media (max-width: 1500px) {
  .advantages__list-item {
    padding: 30px;
  }
}
@media (max-width: 1280px) {
  .advantages__list-item {
    width: calc(33.3333333333% - 11px);
  }
}
@media (max-width: 768px) {
  .advantages__list-item {
    width: calc(50% - 11px);
  }
  .advantages__list-item:nth-child(even) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 650px) {
  .advantages__list-item {
    padding: 18px 17px 15px 18px;
  }
}
@media (max-width: 500px) {
  .advantages__list-item:nth-child(1) {
    padding-bottom: 7px;
  }
  .advantages__list-item:nth-child(5) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__list-item:nth-child(4) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .advantages__list-item:nth-child(6) {
    padding: 18px 10px 12px 18px;
  }
}
.advantages__image {
  width: inherit;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1280px) {
  .advantages__image {
    position: relative;
    width: 200px;
    top: 192px;
    left: 114px;
    z-index: -1;
  }
}
@media (max-width: 500px) {
  .advantages__image {
    width: inherit;
    top: 0;
    left: 0;
  }
}
.advantages__image-wrapper {
  position: relative;
  max-width: 445px;
  width: 100%;
  min-height: 684px;
}
.advantages__image-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 38%;
  z-index: -2;
  -webkit-box-shadow: inset 0px 0px 97px 39px #191b20;
          box-shadow: inset 0px 0px 97px 39px #191b20;
  background: -webkit-image-set(url(../../images/advantages/microphone-bg.png) 1x, url(../../images/advantages/microphone-bg@2x.png) 2x) no-repeat right -49px top -10px/150%;
  background: image-set(url(../../images/advantages/microphone-bg.png) 1x, url(../../images/advantages/microphone-bg@2x.png) 2x) no-repeat right -49px top -10px/150%;
}
@media (max-width: 1280px) {
  .advantages__image-wrapper::before {
    background: -webkit-image-set(url(../../images/advantages/microphone-bg-mobile.png) 1x, url(../../images/advantages/microphone-bg-mobile@2x.png) 2x) no-repeat center/cover;
    background: image-set(url(../../images/advantages/microphone-bg-mobile.png) 1x, url(../../images/advantages/microphone-bg-mobile@2x.png) 2x) no-repeat center/cover;
    opacity: 0.38;
    -webkit-box-shadow: inset 0px 0px 80px 20px #191b20;
            box-shadow: inset 0px 0px 80px 20px #191b20;
  }
}
@media (max-width: 500px) {
  .advantages__image-wrapper::before {
    background: -webkit-image-set(url(../../images/advantages/microphone-bg-mobile.png) 1x, url(../../images/advantages/microphone-bg-mobile@2x.png) 2x) no-repeat left -22px top -12px/160%;
    background: image-set(url(../../images/advantages/microphone-bg-mobile.png) 1x, url(../../images/advantages/microphone-bg-mobile@2x.png) 2x) no-repeat left -22px top -12px/160%;
    opacity: 0.72;
  }
}
@media (max-width: 1280px) {
  .advantages__image-wrapper {
    position: absolute;
  }
}
@media (max-width: 768px) {
  .advantages__image-wrapper {
    left: 0;
    bottom: -186px;
  }
}
@media (max-width: 500px) {
  .advantages__image-wrapper {
    max-width: 163.53px;
    min-height: 248.57px;
    left: 18px;
    bottom: 30px;
  }
}
.advantages__button {
  padding: 30px 59px 28px;
}
@media (max-width: 500px) {
  .advantages__button {
    width: 100%;
    padding: 21px 18px 18px 18px;
  }
}

.advantage:nth-child(1) .advantage__image {
  width: 80px;
  height: 90px;
}
@media (max-width: 650px) {
  .advantage:nth-child(1) .advantage__image {
    width: 44px;
    height: 44.24px;
  }
}
.advantage:nth-child(2) .advantage__image {
  width: 79.1px;
  height: 79.1px;
}
@media (max-width: 650px) {
  .advantage:nth-child(2) .advantage__image {
    width: 44.15px;
    height: 43.23px;
  }
}
.advantage:nth-child(3) .advantage__image {
  width: 73.26px;
  height: 73px;
}
@media (max-width: 650px) {
  .advantage:nth-child(3) .advantage__image {
    width: 40.3px;
    height: 40.15px;
  }
}
.advantage:nth-child(4) .advantage__image {
  width: 82.9px;
  height: 77.61px;
}
@media (max-width: 650px) {
  .advantage:nth-child(4) .advantage__image {
    width: 45.94px;
    height: 43.01px;
  }
}
.advantage:nth-child(5) .advantage__image {
  width: 79.12px;
  height: 79.12px;
}
@media (max-width: 650px) {
  .advantage:nth-child(5) .advantage__image {
    width: 44.16px;
    height: 43.24px;
  }
}
.advantage:nth-child(6) .advantage__image {
  width: 67.15px;
  height: 67.14px;
}
@media (max-width: 650px) {
  .advantage:nth-child(6) .advantage__image {
    width: 36.8px;
    height: 36.79px;
  }
}
@media (max-width: 650px) {
  .advantage:nth-child(6) .advantage__image-wrapper {
    min-height: 47px;
  }
}
.advantage__image-wrapper {
  min-height: 109px;
}
@media (max-width: 650px) {
  .advantage__image-wrapper {
    min-height: 58px;
  }
}
.advantage__name {
  font-family: "muller-extra-bold", sans-serif;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  margin: 0 0 16px;
}
@media (max-width: 650px) {
  .advantage__name {
    font-size: 14px;
    line-height: 129%;
    margin: 0 0 8px;
  }
}
.advantage__description-item {
  position: relative;
  max-width: 352px;
  padding: 0 0 0 25px;
}
.advantage__description-item:not(:last-child) {
  margin: 0 0 1px;
}
@media (max-width: 650px) {
  .advantage__description-item:not(:last-child) {
    margin: 0 0 18px;
  }
}
.advantage__description-item::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 14px;
  left: 0;
  top: 5px;
  background: url(../../images/advantages/advantage-list-item-icon.svg) no-repeat center/contain;
}
@media (max-width: 650px) {
  .advantage__description-item::before {
    top: 0;
  }
}
.advantage__description-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #c5c5c5;
}
@media (max-width: 650px) {
  .advantage__description-text {
    font-size: 13px;
    line-height: 138%;
  }
}
.advantage__description-text--accent {
  color: #f69020;
}

.footer {
  background: #131517;
}
.footer .center {
  position: relative;
  padding: 91px 50px 90px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 251px;
  background: linear-gradient(90deg, transparent 0%, transparent 11.5%, #313339 1px, transparent 11.6%, transparent 37.2%, #313339 1px, transparent 37.35%, transparent 63.01%, #313339 1px, transparent 63.15%, transparent 88.7%, #313339 1px, transparent 88.82%, transparent 100%);
}
.footer .center::before {
  position: absolute;
  content: "";
  width: 25.4%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 101, 113, 0)), to(rgba(96, 101, 113, 0.05)));
  background: linear-gradient(180deg, rgba(96, 101, 113, 0) 0%, rgba(96, 101, 113, 0.05) 100%);
  top: 0;
  left: 11.7%;
}
@media (max-width: 1400px) {
  .footer .center {
    padding: 42px 23px 42px 11px;
  }
}
@media (max-width: 768px) {
  .footer .center {
    padding: 42px 23px 42px 20px;
    background: linear-gradient(90deg, transparent 0%, transparent 18.5%, #313339 1px, transparent 18.8%, transparent 83.7%, #313339 1px, transparent 83.82%, transparent 100%);
  }
  .footer .center::before {
    display: none;
  }
}
.footer__logo {
  max-width: 293px;
  height: 67px;
}
@media (max-width: 1280px) {
  .footer__logo {
    max-width: 161px;
    height: 37px;
  }
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 71px;
}
@media (max-width: 1900px) {
  .footer__nav-list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 768px) {
  .footer__nav-list {
    gap: unset;
  }
  .footer__nav-list li:nth-child(4) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 13px 0;
  }
  .footer__nav-list li:nth-child(1) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (max-width: 768px) {
  .footer__nav-item--logo {
    margin: 0 0 29px -8px;
  }
}
@media (max-width: 1900px) {
  .footer__nav-item--link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 1280px) {
  .footer__nav-item--link {
    margin-left: 300px;
  }
}
@media (max-width: 1000px) {
  .footer__nav-item--link {
    margin-left: 200px;
  }
}
@media (max-width: 768px) {
  .footer__nav-item--link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: unset;
  }
}
@media (max-width: 768px) {
  .footer__nav-item--display {
    display: none;
  }
}
.footer__nav-item--button {
  max-width: 950px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 1630px) {
  .footer__nav-item--button {
    max-width: 690px;
  }
}
@media (max-width: 1362px) {
  .footer__nav-item--button {
    max-width: 500px;
  }
}
@media (max-width: 910px) {
  .footer__nav-item--button {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .footer__nav-item--button {
    display: none;
  }
}
.footer__nav-item--buttons-group {
  display: none;
}
@media (max-width: 768px) {
  .footer__nav-item--buttons-group {
    display: block;
  }
}
.footer__btn {
  display: block;
  max-width: 222px;
  width: 100%;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 37px;
}
@media (hover: hover) {
  .footer__btn:hover {
    color: #f69020;
  }
  .footer__btn:hover .footer__btn-image-wrapper {
    background: #f69020;
  }
  .footer__btn:hover .footer__btn-text {
    color: #f69020;
  }
}
.footer__btn:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.footer__btn--rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  top: -50px;
  right: 59px;
}
@media (max-width: 1900px) {
  .footer__btn--rotate {
    right: -50px;
    top: -94px;
  }
}
@media (max-width: 1400px) {
  .footer__btn--rotate {
    top: -50px;
  }
}
@media (max-width: 1280px) {
  .footer__btn--rotate {
    max-width: 171px;
    min-height: unset;
    height: 44px;
    gap: 11px;
    top: 62px;
    right: 0;
  }
}
@media (max-width: 768px) {
  .footer__btn--rotate {
    right: 15px;
  }
}
.footer__btn-image {
  width: 20px;
  height: 22px;
  stroke: #606571;
}
@media (max-width: 1280px) {
  .footer__btn-image {
    width: 14px;
    height: 16px;
  }
}
.footer__btn-image--rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.footer__btn-image-wrapper {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #2e3441;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1280px) {
  .footer__btn-image-wrapper {
    width: 44px;
    height: 44px;
  }
}
.footer__btn-text {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: "muller-bold", sans-serif;
  font-size: 9px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #606571;
}
@media (max-width: 768px) {
  .footer__btn-text {
    position: relative;
    top: 3px;
  }
}/*# sourceMappingURL=style.css.map */