.promo {
  .center {
    position: relative;
    min-height: 731px;
    padding: 103px 51px 78px 51px;
    @media (max-width: 1400px) {
      padding: 103px 20px 78px 20px;
    }
    @media (max-width: 1040px) {
      padding: 43px 20px 32px 20px;
    }
    @media (max-width: 1040px) {
      padding: 43px 20px 32px 100px;
    }
    @media (max-width: 768px) {
      padding: 44px 20px 32px 20px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 26.2%;
      border-right: 1px solid #313339;
      border-left: 1px solid #313339;
      min-height: 733px;
      bottom: 0;
      left: 10.65%;
      background: linear-gradient(
        180deg,
        rgba(96, 101, 113, 0) 0%,
        rgba(96, 101, 113, 0.05) 100%
      );
      z-index: 1;
      @media (max-width: 1450px) {
        min-height: 795px;
      }
      @media (max-width: 1040px) {
        width: 11.6%;
        border-right: 1px solid #313339;
        min-height: 100%;
        top: 0px;
        left: 0;
        background: transparent;
      }
      @media (max-width: 768px) {
        width: 18.8%;
      }
    }
    &::after {
      @media (max-width: 560px) {
        position: absolute;
        content: "";
        width: 4.4%;
        border-left: 1px solid #313339;
        min-height: 32%;
        top: 0;
        right: 11.7%;
        background: transparent;
        z-index: 1;
      }
    }
    @media (max-width: 768px) {
      min-height: 677px;
    }
  }
  &__description {
    position: relative;
    z-index: 1;
    max-width: 895px;
    width: 100%;
    min-height: 522px;
    @media (max-width: 1040px) {
      max-width: 421px;
    }
    @media (max-width: 768px) {
      max-width: 343px;
    }
  }
  &__subtitle {
    font-family: $main-font-regular;
    font-size: 41px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 33px;
    @media (max-width: 1040px) {
      font-size: 18px;
      line-height: 128%;
    }
    @media (max-width: 768px) {
      margin: 0 0 11px;
    }
  }
  &__title {
    br {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
    @extend %block-title;
    line-height: 125%;
    margin: 0 0 37px;
    @media (max-width: 1040px) {
      font-size: 36px;
      line-height: 133%;
    }
    @media (max-width: 768px) {
      margin: 0 0 6px;
      line-height: 135%;
    }
    &-badge {
      margin: 0 0 0 3px;
      position: relative;
      top: -24px;
      padding: 7px 18px 6px 13px;
      font-family: $main-font-regular;
      font-size: 15px;
      letter-spacing: 0.03em;
      text-transform: none;
      border-radius: 60px;
      background: #343a3e;
      @media (max-width: 1040px) {
        top: -9px;
      }
      @media (max-width: 768px) {
        margin: 0;
      }
    }
  }
  &__advantages-list {
    margin: 0 0 71px;
    padding: 0 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 41px;
    min-height: 50px;
    @media (max-width: 1450px) {
      flex-direction: column;
      gap: 18px;
      align-items: flex-start;
    }
    @media (max-width: 1040px) {
      margin: 0 0 160px;
    }
    @media (max-width: 768px) {
      margin: 0 0 124px;
    }
  }
  &__advantages-item {
    position: relative;
    width: 100%;
    padding: 0 0 0 59px;
    &:nth-child(1) {
      max-width: 241px;
    }
    &:nth-child(2) {
      max-width: 184px;
    }
    &:nth-child(3) {
      max-width: 204px;
      @media (max-width: 850px) {
        max-width: 147px;
      }
      @media (max-width: 768px) {
        max-width: 204px;
      }
      @media (max-width: 420px) {
        max-width: 147px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 46px;
      height: 46px;
      top: -2px;
      left: 0;
      background: url(../../../images/icons/promo-advantages-icon.svg) no-repeat
        center / cover;
      @media (max-width: 768px) {
        width: 36.35px;
        height: 36.35px;
        left: -3px;
      }
    }
    @media (max-width: 768px) {
      padding: 0 0 0 43.42px;
    }
  }
  &__advantages-text {
    font-family: $main-font-regular;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.03em;
    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 130%;
    }
  }
  &__description-buttons {
    max-width: 734px;
    width: 100%;
    @include flexCenterSpaceBetwen;
    @media (max-width: 1480px) {
      max-width: 545px;
    }
  }
  &__description-button {
    @media (max-width: 1480px) {
      font-size: 11px;
      padding: 20.5px 30px 18.5px;
    }
  }
  &__description-link {
    transition: all 0.4s ease 0s;
    position: relative;
    top: -6px;
    font-family: $main-font-bold;
    line-height: 100%;
    font-size: 9px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-medium;
    transform: rotate(-90deg);
    @media (max-width: 1280px) {
      display: none;
    }
    @include hover {
      color: $color-accent;
    }
    @include active {
      filter: brightness(120%);
    }
  }
  &__image-wrapper {
    position: absolute;
    right: 20px;
    bottom: 0;
    max-width: 1960px;
    width: 100%;
    height: 869px;
    z-index: 0;
    &::before {
      content: "";
      position: absolute;
      width: 269px;
      height: 273px;
      background: url(../../images/promo/around-the-clock.png) no-repeat center -32px /
        138%;
      top: 546px;
      right: 708px;
      z-index: 1;
      @media (max-width: 1815px) {
        top: 538px;
        right: 50px;
      }
      @media (max-width: 1560px) {
        right: 388px;
      }
      @media (max-width: 1040px) {
        right: 320px;
        top: 459px;
      }
      @media (max-width: 768px) {
        right: 180px;
        top: 399px;
        width: 246px;
        bottom: 34px;
        background: url(../../images/promo/around-the-clock-360.png) no-repeat
          center / cover;
      }
      @media (max-width: 560px) {
        height: 248px;
        right: 57px;
        top: unset;
      }
    }
    @media (max-width: 1560px) {
      right: 0;
    }
    @media (max-width: 768px) {
      height: 731px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 1560px) {
      object-position: right -300px top 0;
    }
    @media (max-width: 1040px) {
      object-position: right -208px bottom 0;
    }
    @media (max-width: 560px) {
      position: absolute;
      height: 76%;
      bottom: 0;
    }
  }

  &__link {
    font-family: $main-font-bold;
    font-size: 9px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-accent;
    &-wrapper {
      position: absolute;
      bottom: 131px;
      right: 60px;
      transform: rotate(-90deg);
      z-index: 1;
      @include flexCenterSpaceBetwen;
      max-width: 239px;
      width: 100%;
      min-height: 83px;
      @media (max-width: 1815px) {
        bottom: unset;
        top: 180px;
      }
      @media (max-width: 1560px) {
        right: -40px;
        top: unset;
        bottom: 131px;
      }
      @media (max-width: 1040px) {
        display: none;
      }
    }
    &-image {
      fill: #2c383f;
      width: 29px;
      height: 29px;
      &-wrapper {
        transform: rotate(90deg);
        @include flexCenter;
        width: 83px;
        height: 83px;
        border-radius: 100%;
        background: $accent-btn-bg-secondary;
      }
    }
  }
}
