// colors
$color-light: #fff;
$color-medium: #606571;
$color-accent: #f69020;
$color-accent-light: #ffc619;
$color-border: #393c43;

$color-page-lines: #313339;
$color-page-lines-accent: #ffc6194d;

$dark-bg: #131517;
$main-bg: #191b20;

$bg-icons-light: rgba(255, 255, 255, 0.07);
$bg-cards-dark: #202124;
$bg-cards-dark-secondary: #282b32;
$bg-cards-dark-third: #34373f;
$bg-cards-dark-secondary-hover: #343740;

$text-color-description: #c5c5c5;
$btn-text-color-dark: #252121;

$accent-btn-bg-main: linear-gradient(
  141deg,
  #ea422a 0%,
  #f69020 47.92%,
  #ffc619 100%
);
$accent-btn-bg-secondary: linear-gradient(
  217deg,
  #ffc619 0%,
  #f69020 46.35%,
  #ec5128 100%
);
$round-btn-icon-bg: #2e3441;
// fonts
$main-font-regular: "muller-regular", sans-serif;
$main-font-medium: "muller-medium", sans-serif;
$main-font-bold: "muller-bold", sans-serif;
$main-font-extra-bold: "muller-extra-bold", sans-serif;
$main-font-black: "muller-black", sans-serif;
// properties
%block-title {
  font-family: $main-font-black;
  font-size: 75px;
  line-height: 109%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 36px;
    line-height: 133%;
  }
}
