// connecting main css files
@import "normolize.css";
@import "nulling-styles.css";
@import "fonts.css";
// connecting scss files
@import "_variables.scss";
@import "_mixins.scss";
// blocks
@import "./blocks/header.scss";
@import "./blocks/footer.scss";

// properties
body {
  font-family: $main-font-regular, sans-serif;
  color: $color-light;
  background: $main-bg;
}
.center {
  max-width: 1820px;
  width: 100%;
  height: 100vh;
  padding: 0 50px;
  margin: 0 auto;
  background: linear-gradient(
      90deg,
      transparent 0%,
      transparent 8.5%,
      rgb(255, 255, 255) 1px,
      transparent 8.6%,
      transparent 36.2%,
      rgb(255, 255, 255) 1px,
      transparent 36.35%,
      transparent 64.01%,
      rgb(255, 255, 255) 1px,
      transparent 64.15%,
      transparent 91.7%,
      rgb(255, 255, 255) 1px,
      transparent 91.82%,
      transparent 100%
    ),
    #131517;
}
